body {
 background-image: url("planes.jpg"); /* Source: Photo by <a href="https://unsplash.com/@randomlies?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Ashim D’Silva</a> on <a href="https://unsplash.com/s/photos/airplane?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
 */
 background-repeat: no-repeat;
 background-size: cover;
}

.container {
 margin-top: 400px;
 background-color: #000;
 opacity: 0.9;
 color: #fff;
 padding: 40px;
}

.top-20 {
 margin-top: 20px;
}

h5 {
 color: #999999;
}

section {
 margin-bottom: 50px;
}

.field {
 font-weight: bold;
 text-align: right;
}

.field-value {
 color: #0e7fa8;
}

label.form {
 font-size: 14px;
 margin-right: 20px;
}
input {
 margin-right: 30px;
}
